
$gray-100: #f3f4f6
$gray-950: #030712
$emerald-400: rgba(52, 211, 153, 1)
$emerald-500: #10b981
$emerald-600: #059669
$emerald-700: rgb(6, 95, 70)
$sky-400: #38bdf8
$slate-900: #0f172a
$red-700: #FF0000
$emerald-gradient: radial-gradient(circle, $emerald-700 76%, $emerald-400)
