
.content
  background-color: #f3f4f6

.input-tasks
  display: flex
  flex-direction: column
  align-items: center
  border: 1px solid red

  input
    margin-bottom: 1rem

.container-input-text
  border: 0.3rem solid rgba(6,95,70,1)
  border-radius: 0.5rem
  padding: 5rem

.container-inputs-date
  display: flex
  justify-content: space-around

  input
    width: 20rem

.input-date
  margin-right: 3rem

.button-task
  width: 20rem
  margin-left: 10rem
  margin-top: 2rem
