<nz-layout>
  <app-header
    (navToCreateTask)="navToCreateTask()"
    (navToListTasks)="navToListTasks()"
  ></app-header>

  <nz-content class="content custom-scrollbar">
    <div class="input-tasks" id="input-tasks">
      <div>
        <article class="title-create">
          <div class="word-waves">
            <span>Crie uma tarefa</span>
            <span>Crie uma tarefa</span>
          </div>
        </article>
      </div>
      <section class="container">
        <form
          [formGroup]="taskForm"
          (ngSubmit)="submitForm()"
          nz-form
          id="taskForm"
        >
          <nz-form-item>
            <nz-form-control nzErrorTip="Por favor digite um título!">
              <input
                nz-input
                placeholder="Título"
                type="text"
                formControlName="title"
              />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Por favor digite uma descrição!">
              <input
                nz-input
                placeholder="Descrição"
                type="text"
                formControlName="description"
              />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control
              nzErrorTip="Por favor digite o nível de prioridade!"
            >
              <input
                nz-input
                placeholder="Prioridade"
                formControlName="priority"
              />
            </nz-form-control>
          </nz-form-item>

          <div class="container-label">
            <label for="startAt">Data inicial</label>
            <label for="startTime">Hora inicial</label>
            <label for="endAt">Data final</label>
            <label for="finalTime">Hora final</label>
          </div>
          <div class="container-inputs-date">
            <nz-form-item>
              <nz-form-control nzErrorTip="Selecione uma data!">
                <input
                  nz-input
                  id="startAt"
                  type="date"
                  class="input-date"
                  formControlName="startAt"
                />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control nzErrorTip="Selecione um horário!">
                <input
                  nz-input
                  id="startTime"
                  type="time"
                  class="input-date"
                  formControlName="startAtTime"
                />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control nzErrorTip="Selecione uma data!">
                <input
                  nz-input
                  id="endAt"
                  type="date"
                  formControlName="endAt"
                  class="input-date"
                />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control nzErrorTip="Selecione um horário!">
                <input
                  nz-input
                  id="finalTime"
                  type="time"
                  formControlName="endAtTime"
                />
              </nz-form-control>
            </nz-form-item>
          </div>

          <button
            nz-button
            class="login-form-button login-form-margin button-task"
            [nzType]="'primary'"
          >
            {{ titleButton }}
          </button>
        </form>
      </section>

      <div class="container-list" id="container-list">
        <article class="title-list">
          <div class="word-waves">
            <span>Lista de tarefas</span>
            <span>Lista de tarefas</span>
          </div>
        </article>
        <section class="task-list">
          <nz-table
            #basicTable
            [nzData]="allTasks"
            [nzPageSize]="pageSize"
            [nzPageIndex]="pageIndex"
            [nzTotal]="total"
            [nzPageIndex]="pageIndex"
            [nzTotal]="total"
            [nzPageSize]="pageSize"
            (nzPageIndexChange)="pageIndexChange($event)"
          >
            <thead>
              <tr>
                <th>Título</th>
                <th>Descrição</th>
                <th>Prioridade</th>
                <th>Data Inicial</th>
                <th>Data Final</th>
                <th>Hora Inicial</th>
                <th>Hora Final</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of tasks">
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.priority }}</td>
                <td>{{ formatDateAndTime(task.startAt).date }}</td>
                <td>{{ formatDateAndTime(task.endAt).date }}</td>
                <td>{{ formatDateAndTime(task.startAt).time }}</td>
                <td>{{ formatDateAndTime(task.endAt).time }}</td>
                <td>
                  <span
                    class="icon-edit"
                    nz-icon
                    nzType="edit"
                    nzTheme="outline"
                    (click)="fillOutForm(task.id, task)"
                  ></span>
                </td>
                <td>
                  <span
                    class="icon-delete"
                    nz-icon
                    nzType="delete"
                    nzTheme="outline"
                    (click)="deleteTask(task.id)"
                  ></span>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </section>
      </div>
    </div>
  </nz-content>

  <app-footer></app-footer>
</nz-layout>
