<nz-layout>
  <app-header></app-header>

  <nz-content class="content">
    <div class="input-tasks">
      <h1>Crie uma tarefa</h1>
      <div class="container-input-text">
        <form [formGroup]="taskForm" (ngSubmit)="submitForm()" nz-form>
          <nz-form-item>
            <nz-form-control nzErrorTip="Por favor digite um título!">
              <input
                nz-input
                placeholder="Título"
                type="text"
                formControlName="title"
              />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Por favor digite uma descrição!">
              <input
                nz-input
                placeholder="Descrição"
                type="text"
                formControlName="description"
              />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control
              nzErrorTip="Por favor digite o nível de prioridade!"
            >
              <input
                nz-input
                placeholder="Prioridade"
                formControlName="priority"
              />
            </nz-form-control>
          </nz-form-item>

          <div class="container-label">
            <label for="startDate">Data inicial</label>
            <label for="startTime">Hora inicial</label>
            <label for="finalDate">Data final</label>
            <label for="finalTime">Hora final</label>
          </div>
          <div class="container-inputs-date">
            <nz-form-item>
              <nz-form-control nzErrorTip="Selecione uma data!">
                <input
                  nz-input
                  id="startDate"
                  type="date"
                  class="input-date"
                  formControlName="startDate"
                />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control nzErrorTip="Selecione um horário!">
                <input
                  nz-input
                  id="startTime"
                  type="time"
                  class="input-date"
                  formControlName="startTime"
                />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control nzErrorTip="Selecione uma data!">
                <input
                  nz-input
                  id="finalDate"
                  type="date"
                  formControlName="finalDate"
                  class="input-date"
                />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control nzErrorTip="Selecione um horário!">
                <input
                  nz-input
                  id="finalTime"
                  type="time"
                  formControlName="finalTime"
                />
              </nz-form-control>
            </nz-form-item>
          </div>

          <button
            nz-button
            class="login-form-button login-form-margin button-task"
            [nzType]="'primary'"
          >
            Cadastrar
          </button>
        </form>
      </div>
    </div>
  </nz-content>

  <app-footer></app-footer>
</nz-layout>
